<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>news1kenkou.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>515EE66A1CD4DB5700DCEFA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>515EE67E1CD4DB5800DCEFA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>515EE6891CD4DB5800DCEFA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
